{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h6>Add customer</h6>
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-primary btn-group-vertical save_top">Save</a>
            <a class="btn btn-default btn-default btn-group-vertical" href="{% url 'customer:list' %}">Close</a>
          </div>
        </div>
      </div>
      <div class="card card-body">
        <form action="" method="post" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Save" hidden class="save_bottom">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}