{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h6>Warehouse Inputs</h6>
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-success" href="{% url 'warehouse:input_add' %}">Add</a>
          </div>
        </div>
      </div>
      <div class="card card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll"/>
            </th>
            <th scope="col">id</th>
            <th scope="col">№</th>
            <th scope="col">Warehouse</th>
            <th scope="col">Created</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          {% for input in warehouseinput_list %}
            <tr class="click-row" data-href="{% url 'warehouse:input_edit' input.id %}">
              <td>
                <input type="checkbox" id="{{ input.id }}"/>
              </td>
              <td>{{ input.id }}</td>
              <td>{{ input.number }}</td>
              <td>{{ input.warehouse }}</td>
              <td>{{ input.created_date }}</td>
              <td>{{ input.note|default_if_none:"" }}</td>
              <td>{% if input.is_active %}Active{% else %}Inactive{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}