{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for form in formset %}
                        {{ form.as_p }}
                        <hr>
                    {% endfor %}
                    <input type="submit" value="Finish order">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
